<!-- Referera till /style.css -->
<link rel="stylesheet" href="/stylesheets/style.scss">

<!-- Skapa element för hamburgar-ikonen som ska användas i media query -->
<div class="hamburger" id="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</div>
<!-- Navbar -->
<div class="head-container">
    <div class="nav-container" id="nav-container">
        <a class="nav-link" href="/">Start</a>
        <a class="nav-link" href="/posts">Inlägg</a>
        <!-- Kolla om användaren har startat en session och är inloggad -->
        <% if (loggedIn) { %>
            <!-- Om inloggad, visa meny för att skapa inlägg -->
            <a class="nav-link" href="/post">Skapa inlägg</a>        
        <% } %>
        <a class="nav-link" href="/forum">Forum</a>
        <a class="nav-link" href="/about">Om sidan</a>
        <% if (loggedIn) { %>
            <!-- Om inloggad, visa meny för att logga ut -->
            <a class="nav-link" href="/logout">Logga ut</a>
        <% }  else { %>
            <!-- Annars, visa alternativ för inloggning- och registrering -->
            <a class="nav-link" href="/login">Logga in</a>
            <a class="nav-link" href="/register">Registrera</a>
        <% } %>
    </div>
</div>

<!-- Detta skript lägger till en händelselyssnare på klickhändelsen för en 
     hamburger-ikon och växlar mellan att lägga till och ta bort CSS-klasser 
     på två olika HTML-element för att visa eller dölja en navigationsmeny 
     när användaren klickar på ikonen. -->
<script>
    const hamburger = document.getElementById('hamburger');
    const navContainer = document.getElementById("nav-container") 

    hamburger.addEventListener("click",()=>{
        hamburger.classList.toggle("rotate");
        navContainer.classList.toggle("nav-dis");
    })
</script>