<!-- Referera till /style.css -->
<link rel="stylesheet" href="/stylesheets/style.scss">

<div class="hamburger" id="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</div>
<!-- Navbar -->
<div class="head-container">
    <div class="nav-container" id="nav-container">
        <a class="nav-link" href="/">Start</a>
        <a class="nav-link" href="/posts">Inlägg</a>
        <!-- Kolla om användaren har startat en session och är inloggad -->
        <% if (loggedIn) { %>
            <!-- Om inloggad, visa meny för att skapa inlägg -->
            <a class="nav-link" href="/post">Skapa inlägg</a>        
        <% } %>
        <a class="nav-link" href="/forum">Forum</a>
        <a class="nav-link" href="/about">Om sidan</a>
        <% if (loggedIn) { %>
            <!-- Om inloggad, visa meny för att logga ut -->
            <a class="nav-link" href="/logout">Logga ut</a>
        <% }  else { %>
            <!-- Annars, visa alternativ för inloggning- och registrering -->
            <a class="nav-link" href="/login">Logga in</a>
            <a class="nav-link" href="/register">Registrera</a>
        <% } %>
    </div>
</div>
<script>
    const hamburger = document.getElementById('hamburger');
    const navContainer = document.getElementById("nav-container") 

    hamburger.addEventListener("click",()=>{
        hamburger.classList.toggle("rotate");
        navContainer.classList.toggle("nav-dis");
    })

</script>