<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Inkludera icon.ejs som favicon -->
    <%- include(icon) %>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>WLOG - Om sidan</title>
</head>
<body>
    <a href="/" style="text-decoration: none; color: inherit;">
        <h1>
          <b>WLOG</b>
        </h1>
    </a>
    
    <!-- Inkludera nav.ejs som navbar -->
    <%- include(nav) %>
    
    <h2>En sida för alla webbutvecklare</h2>

    <!-- Information om hemsidan -->
    <p style="text-align: center;">
        Välkommen till vår bloggsida för webbutvecklare! Vi är en grupp passionerade webbutvecklare som älskar att dela med oss av vår kunskap
        och erfarenhet till andra utvecklare runt om i världen. På vår bloggsida hittar du en mängd olika inlägg som täcker allt från 
        grundläggande webbutvecklingskoncept till mer avancerade ämnen som full-stack-utveckling, responsive design och webbsäkerhet. Vi erbjuder 
        också handledning och guider för populära webbutvecklingsramar och verktyg. Förutom att tillhandahålla 
        värdefull information och insikter, uppmuntrar vi våra läsare att bidra till vår gemenskap genom att lämna kommentarer och engagera sig 
        i diskussioner. Vi tror på att lära oss tillsammans och skapa en meningsfull interaktion mellan våra läsare och författare. Vi strävar 
        efter att hålla vår blogg uppdaterad med de senaste trenderna och utvecklingen inom webbutveckling, och vi är alltid på jakt efter nya 
        sätt att hjälpa våra läsare att växa och utvecklas som utvecklare. Tack för att du besöker vår bloggsida för webbutvecklare. Vi hoppas 
        att du hittar våra inlägg informativa, användbara och inspirerande, och vi ser fram emot att höra från dig!
    </p>
</body>
<footer class="footer">
</footer>
</html>