<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Inkludera icon.ejs som favicon -->
   <%- include(icon) %>
   <link rel="stylesheet" href="/stylesheets/style.css">
   <title>WLOG - Skapa Inlägg</title>
</head>
<body>
    <a href="/" style="text-decoration: none; color: inherit;">
        <h1>
          <b>WLOG</b>
        </h1>
    </a>

    <!-- Inkludera nav.ejs som navbar -->
    <%- include(nav) %>
    
   <h2>
       Skapa ett inlägg
   </h2>
   <br>

   <!-- Form där användaren kan skriva in rubrik, text och ladda upp bild för att publicera bland inlägg -->
   <form action="/post" method="POST" enctype="multipart/form-data">
       <label for="title"><span class="mandatory">*</span> Rubrik:</label>
       <input type="text" name="rubrik" id="rubrik"/><br/><br/>

       <label for="text"><span class="mandatory">*</span> Text:</label>
       <textarea cols="30" rows="10" style="resize: none;" name="text" id="text"></textarea><br/><br/>

       <label for="img"><span class="mandatory">*</span> Bild:</label>
       <input type="file" accept="image/*" name="bild" id="bild"/><br/>
       <br>
       <button type="submit">Publicera</button>
   </form>
</body>
<footer class="footer">
</footer>
</html>