@charset "UTF-8";
/* SCSS-variabler */
/* Alla element */
* {
  box-sizing: border-box;
}

/* Navbar */
.nav-container {
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
  display: flex;
  top: 17vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.nav-container .nav-link {
  width: 100%;
  padding: 7px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.nav-container .nav-link:hover {
  color: #4CAF50;
  border: 1px solid #4CAF50;
}

/* Body */
body {
  background: rgb(23, 55, 29);
  background: linear-gradient(90deg, rgb(23, 55, 29) 0%, rgb(26, 66, 19) 50%, rgb(20, 47, 26) 100%);
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/* Headings */
h1 {
  color: rgb(189, 183, 183);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
h1 a {
  text-decoration: none;
  color: inherit;
}

h2 {
  color: rgb(189, 183, 183);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

h3 {
  color: rgb(189, 183, 183);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

p {
  color: rgb(189, 183, 183);
  margin: 0 20%;
}

/* Form */
form {
  color: rgb(189, 183, 183);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 10px auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #3e8e41;
}

/* Password requirements */
.password-requirements {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: disc;
  margin-top: 10px;
  padding: 0;
}
.password-requirements li {
  margin: 0 5px;
  font-size: 10px;
  color: #777;
}

/* Obligatoriskt */
.mandatory {
  color: red;
}

/* Omdirigeringslänkar */
.redirect-links {
  color: rgb(32, 144, 209);
}

/* Footer */
.footer {
  margin-bottom: 50px;
}

/* Posts */
.search-input-form {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
}

.show-all-posts {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  max-width: 25vw;
}
.show-all-posts:hover {
  background-color: #3e8e41;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) 7fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 82vw;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.post-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.post-container .post-author {
  grid-area: 2/1/3/4;
  text-align: center;
  color: #777;
  font-size: 23px;
}
.post-container .post-title {
  grid-area: 1/1/2/4;
  color: black;
  margin: 10px 0;
  font-size: 28px;
}
.post-container .post-image {
  grid-area: 3/1/4/2;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border: 2px solid #ccc;
  padding: 5px;
  box-sizing: border-box;
}
.post-container .post-text {
  grid-area: 3/2/4/4;
  color: black;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 40px;
}
.post-container .post-datetime {
  grid-area: 4/1/5/4;
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

/* Latest posts */
.latest-posts {
  color: white;
  font-size: 28px;
}

/* Forum */
.forum-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}
.forum-categories button {
  display: block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.forum-categories button:hover {
  background-color: #106a0b;
}

.forum-container {
  margin: 20px 0;
}
.forum-container .forum-title {
  font-weight: bold;
  margin-bottom: 10px;
}
.forum-container .forum-posts {
  list-style: none;
  padding: 0;
  margin: 0;
}
.forum-container .forum-post {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.forum-container .forum-question {
  display: flex;
  justify-content: center;
  align-items: center;
}
.forum-container .forum-category {
  background-color: #4CAF50;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.forum-container .forum-question-text {
  color: rgb(189, 183, 183);
}

/* Hamburgare dropdown-meny */
.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  left: 6vw;
  top: 3vh;
}

.bar {
  color: rgb(189, 183, 183);
  display: block;
  width: 50px;
  height: 4px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  .forum-container {
    margin: 6%;
  }
  .post-container {
    display: flex;
    flex-direction: column;
  }
  .post-author {
    font-size: 15px;
  }
  .post-title {
    font-size: 18px;
  }
  .post-text {
    font-size: 10px;
  }
  .head-container {
    border-bottom: 1px solid rgb(96, 93, 93);
  }
  .nav-container {
    z-index: 1;
    border-top-right-radius: 7%;
    border-bottom-right-radius: 7%;
    position: fixed;
    flex-direction: column;
    width: 40vw;
    height: 80vh;
    justify-content: space-around;
    transform: translateX(-100vw);
  }
  .nav-container a {
    font-size: 14px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 10%;
    border: 1px solid rgb(135, 132, 132);
  }
  .hamburger {
    z-index: 1;
    position: fixed;
    display: block;
    border: 3px solid rgb(189, 183, 183);
    padding: 5px;
    transition: all 0.3s ease-in-out;
  }
  .bar {
    background-color: rgb(189, 183, 183);
  }
  form {
    margin: 10%;
  }
}
@media screen and (min-width: 480px) and (max-width: 786px) {
  .forum-container {
    margin: 6%;
  }
  .post-container {
    display: flex;
    flex-direction: column;
  }
  .post-author {
    font-size: 19px;
  }
  .post-title {
    font-size: 24px;
  }
  .post-text {
    font-size: 14px;
  }
  .head-container {
    border-bottom: 1px solid rgb(96, 93, 93);
  }
  .nav-container {
    z-index: 1;
    border-top-right-radius: 7%;
    border-bottom-right-radius: 7%;
    position: fixed;
    flex-direction: column;
    width: 33vw;
    height: 80vh;
    justify-content: space-around;
    transform: translateX(-100vw);
  }
  .nav-container a {
    font-size: 18px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 10%;
    border: 1px solid rgb(135, 132, 132);
  }
  .hamburger {
    z-index: 1;
    position: fixed;
    display: block;
    border: 3px solid rgb(189, 183, 183);
    padding: 5px;
    transition: all 0.3s ease-in-out;
  }
  .bar {
    background-color: rgb(189, 183, 183);
  }
}
@media screen and (max-height: 370px) {
  .nav-container {
    z-index: 1;
    top: 24vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 20vh;
    width: 100vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .nav-container .nav-link {
    font-size: 10px;
    padding: 5px 5px;
    width: 50%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
  }
  .nav-container .nav-link:hover {
    border: none;
  }
  .hamburger {
    border: 1px solid rgb(189, 183, 183);
  }
  .bar {
    background-color: rgb(189, 183, 183);
    width: 20px;
    height: 1.6px;
  }
}
@media screen and (max-height: 170px) {
  .hamburger, #hamburger {
    display: none;
  }
  .nav-container {
    height: 50px;
    transform: translateX(0);
    position: relative;
    top: 0;
  }
  .nav-container .nav-link {
    font-size: 13px;
    border: none;
  }
  .nav-container .nav-link:hover {
    border: none;
  }
}
.nav-dis {
  transform: translateX(0vw);
}

.rotate {
  transform: rotate(90deg);
}/*# sourceMappingURL=style.css.map */