/* SCSS-variabler */

$color_1: #fff;
$color_2: #4CAF50;
$color_3: #444;
$color_4: inherit;
$color_5: white;
$color_6: #3e3d3d;
$color_7: #777;
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: #333;
$background-color_2: #B5BEC6;
$background-color_3: #4CAF50;
$background-color_4: #3e8e41;
$background-color_5: #fff;
$background-color_6: #106a0b;
$background-color_7: black;

/* Alla element */
* {
    box-sizing: border-box;
}

/* Navbar */
.nav-container {
	display: flex;
    top: 17vh;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: $background-color_1;
	color: $color_1;
	padding: 10px;
	transition: all 0.2s ease-in-out;
	a {
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid white;
	}
}
.nav-link {
	margin: 0 10px;
	text-decoration: none;
	color: $color_1;
	font-size: 16px;
	font-weight: bold;
	transition: color 0.3s ease;
	&:hover {
		text-decoration: none;
		color: $color_2;
	}
}

/* Body */
body {
	background-color: $background-color_2;
	font-family: $font-family_1;
	color: $color_3;
	margin: 0;
}

/* Headings */
h1 {
	a {
		text-decoration: none;
		color: $color_4;
	}
	font-family: $font-family_1;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}
h2 {
	font-family: $font-family_1;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}
h3 {
	font-family: $font-family_1;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}
p {
	margin: 0 20%;
}


/* Form */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
	max-width: 400px;
	margin: 10px auto;
}
label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}
input {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	box-sizing: border-box;
}
button {
	background-color: $background-color_3;
	border: none;
	color: $color_5;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	&:hover {
		background-color: $background-color_4;
	}
}


/* Password requirements */
.password-requirements {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: disc;
	margin-top: 10px;
	padding: 0;
	li {
		margin: 0 5px;
		font-size: 10px;
		color: $color_6;
	}
}

/* Footer */
.footer {
	margin-bottom: 50px;
}


/* Posts */
.search-input-form {
    margin: 10px;
	padding: 5px;
	border-radius: 5px;
	font-size: 16px;
}

.search-container{
    display: flex;
    align-items: center;
}
.search-button {
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: $background-color_3;
	color: $color_1;
	font-size: 16px;
}
.show-all-posts {
	display: flex;
    justify-content: center;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: $background-color_3;
	color: $color_1;
    font-size: 16px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
    max-width: 25vw;
	&:hover {
		background-color: $background-color_4;
	}
}
.post-container {
	max-width: 97vw;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background-color: $background-color_5;
	text-align: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
	&:hover {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	}
}
.post-author {
    font-size: 23px;
}
.post-title {
	margin: 10px 0;
	font-size: 28px;
}
.post-image {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	border: 2px solid #ccc;
	padding: 5px;
	box-sizing: border-box;
}
.post-text {
	font-size: 18px;
	line-height: 1.5;
	text-align: left;
	margin: 20px 10% 0;
}
.post-datetime {
	font-size: 14px;
	color: $color_7;
	margin-top: 10px;
}

/* Forum */
.forum-categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 10px;
	button {
		display: block;
		padding: 10px 20px;
		margin: 5px;
		background-color: $background-color_3;
		color: $color_1;
		border-radius: 5px;
		text-decoration: none;
		font-size: 18px;
		font-weight: bold;
		transition: background-color 0.3s ease;
		&:hover {
			background-color: $background-color_6;
		}
	}
}
.forum-container {
	margin: 20px 0;
}
.forum-title {
	font-weight: bold;
	margin-bottom: 10px;
}
.forum-posts {
	list-style: none;
	padding: 0;
	margin: 0;
}
.forum-post {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.forum-question {
	display: flex;
	justify-content: center;
	align-items: center;
}
.forum-category {
	background-color: $background-color_3;
	color: $color_1;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 10px;
}
.forum-question-text {
	color: $color_3;
}

/* Hamburgare dropdown-meny */
.hamburger {
	display: none;
	cursor: pointer;
	position: absolute;
	left: 6vw;
	top: 3vh;
}
.bar {
	display: block;
	width: 50px;
	height: 4px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: $background-color_7;
}

/* Media Queries */
@media screen and (max-width: 480px){
    .forum-container{
        margin: 6%
    }
    .post-author{
        font-size: 15px;
    }
    .post-title{
        font-size: 18px;
    }
    .post-text{
        font-size: 10px;
    }
    .head-container {
        border-bottom: 1px solid rgb(96, 93, 93);
    }
	.nav-container {
		border-top-right-radius: 7%;
		border-bottom-right-radius: 7%;
        position: fixed;
		flex-direction: column;
		width: 40vw;
		height: 80vh;
		justify-content: space-around;
		transform: translateX(-100vw);
        
		a {
			font-size: 14px;
            width: 100%;
		    padding: 10px 10px;
            border-radius: 10%;
		    border: 1px solid rgb(135, 132, 132);
		}
	}
	.hamburger {
        z-index: 1;
        position: fixed;
		display: block;
		border: 3px solid black;
		padding: 5px;
		transition: all 0.3s ease-in-out;
	}
    form {
        margin: 10%;
    }
}

@media screen and (min-width: 480px) and (max-width: 786px) {
    .forum-container{
        margin: 6%;
    }
    .post-author{
        font-size: 19px;
    }
    .post-title{
        font-size: 24px;
    }
    .post-text{
        font-size: 14px;
    }
    .head-container {
        border-bottom: 1px solid rgb(96, 93, 93);
    }
	.nav-container {
		border-top-right-radius: 7%;
		border-bottom-right-radius: 7%;
        position: fixed;
		flex-direction: column;
		width: 33vw;
		height: 80vh;
		justify-content: space-around;
		transform: translateX(-100vw);
        
		a {
			font-size: 18px;
            width: 100%;
		    padding: 10px 10px;
            border-radius: 10%;
		    border: 1px solid rgb(135, 132, 132);
		}
	}
	.hamburger {
        position: fixed;
		display: block;
		border: 3px solid black;
		padding: 5px;
		transition: all 0.3s ease-in-out;
	}
}

@media screen and (max-height: 370px){
	.nav-container {
		top: 0vh;
		position: relative;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		transform: translateX(0);
		height: 20vh;
		width: 100vw;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		a {
			font-size: 10px;
			padding: 5px 5px;
			width: 50%;
			border: none;
			border-radius: 0;
			border-bottom: 1px solid white;
		}
	}
	.hamburger, #hamburger {
		display: none;
	}
}
.nav-dis {
	transform: translateX(0vw);
}
.rotate {
	transform: rotate(90deg);
}
