/* Navbar */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
  
.nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}
  
.nav-link:hover {
    text-decoration: none;
    color: #4CAF50;
}

/* Body */
body {
    background-color: #B5BEC6;
    font-family: 'Montserrat', sans-serif;
    color: #444;
    margin: 0;
}

/* Headings */
h1 a {
    text-decoration: none;
    color: inherit;
}
  
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

p {
    margin: 0 20%;
}

/* Form */
form {
    max-width: 400px;
    margin: 0 auto;
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
  
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
button:hover {
    background-color: #3e8e41;
}

/* Password requirements */
.password-requirements {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: disc;
    margin-top: 10px;
    padding: 0;
}
  
.password-requirements li {
    margin: 0 5px;
    font-size: 10px;
    color: #3e3d3d;
}

/* Footer */
.footer {
    margin-bottom: 50px;
}

/* Posts */
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.search-input-form {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}
  
.search-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
}
  
.show-all-posts {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    max-width: 15%;
}

.show-all-posts:hover {
    background-color: #3e8e41;
}

.post-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
  
.post-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
  
.post-title {
    margin: 10px 0;
    font-size: 28px;
}
  
.post-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 2px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
}
  
.post-text {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    margin: 20px 10% 0;
}

.post-datetime {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

/* Forum */
.forum-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
  
.forum-categories button {
    display: block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
  
.forum-categories button:hover {
    background-color: #106a0b;
}

.forum-categories {
    display: flex;
    gap: 10px;
}
  

.forum-container {
    margin: 20px 0;
}
  
.forum-title {
    font-weight: bold;
    margin-bottom: 10px;
}
  
.forum-posts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.forum-post {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
  
.forum-question {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.forum-category {
    background-color: #4CAF50;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}
  
.forum-question-text {
    color: #444;
}